{% extends "master.html" %}

{% block content %}
<h2 class="tool-name">Random name generator</h2>

<p class="tool-des">
    Generate a random English name, user can choose the lengh for the name
</p>

<form action="/random_name_generator/" method="post">
    <div class="tool-body name-generator-container">
        {% csrf_token %}
        <label class="normal-label-down">First letter limit:</label>
        <select name="first-letter-limit" class="dropdown" id="first-letter">
            <option value="from-to" selecteed>From leter to letter</option>
            <option value="single">Single letter only</option>
        </select>

        <label class="normal-label-down">Length (1 to 100):</label>
        <div class="number-input">
            <button class="btn decrement" id="decrease-btn">−</button>
            <input type="number" id="name-length" value="5" required>
            <button class="btn increment" id="increase-btn">+</button>
        </div>

        <label class="normal-label-down" id="from-label">From:</label>
        <input class="normal-input" type="text" id="from-letter" maxlength="1" pattern="[A-Z]" required>

        <label class="normal-label-down" id="to-label">To:</label>
        <input class="normal-input" type="text" id="to-letter" maxlength="1" pattern="[A-Z]" required>

        <label class="normal-label-down" id="single-label" hidden>Letter:</label>
        <input class="normal-input" type="text" id="single-letter" maxlength="1" pattern="[A-Z]" hidden>

        <label class="normal-label-down">Name:</label>
        <input class="normal-input" type="text" id="output" readonly>
    </div>
    <span>
        <input type="submit" value="Generate Name" class="normal-btn">
        <input type="button" value="Copy Name" class="normal-btn">
    </span>
</form>
<script>
    const decreaseBtn = document.getElementById('decrease-btn');
    const increaseBtn = document.getElementById('increase-btn');
    const nameLengthInput = document.getElementById('name-length');

    const firstLetterInput = document.getElementById('first-letter');

    const fromLabel = document.getElementById('from-label');
    const fromLetterInput = document.getElementById('from-letter');

    const toLabel = document.getElementById('to-label');
    const toLetterInput = document.getElementById('to-letter');

    const singleLabel = document.getElementById('single-label');
    const singleLetterInput = document.getElementById('single-letter');
    
    decreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        let nameLength = parseInt(nameLengthInput.value, 10);
        if (!isNaN(nameLength)) {
            nameLengthInput.value = Math.max(1, nameLength - 1);
        }
    });

    increaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        let nameLength = parseInt(nameLengthInput.value, 10);
        if (!isNaN(nameLength)) {
            nameLengthInput.value = Math.min(nameLength + 1, 100);
        }
    });

    fromLetterInput.addEventListener('input', (e) => {
        const value = e.target.value.toUpperCase();
        fromLetterInput.value = value;
    });

    toLetterInput.addEventListener('input', (e) => {
        const value = e.target.value.toUpperCase();
        toLetterInput.value = value;
    });

    singleLetterInput.addEventListener('input', (e) => {
        const value = e.target.value.toUpperCase();
        singleLetterInput.value = value;
    });

    firstLetterInput.addEventListener('change', (e) => {
        const value = e.target.value;
        if (value === 'from-to') {
            fromLabel.removeAttribute('hidden');
            fromLetterInput.removeAttribute('hidden');
            fromLetterInput.setAttribute('required', true);

            toLabel.removeAttribute('hidden');
            toLetterInput.removeAttribute('hidden');
            toLetterInput.setAttribute('required', true);

            singleLabel.setAttribute('hidden', true);
            singleLetterInput.setAttribute('hidden', true);
            singleLabel.removeAttribute('required');
        } else if (value === 'single') {
            fromLabel.setAttribute('hidden', true);
            fromLetterInput.setAttribute('hidden', true);
            fromLetterInput.removeAttribute('required');

            toLabel.setAttribute('hidden', true);
            toLetterInput.setAttribute('hidden', true);
            toLetterInput.removeAttribute('required');

            singleLabel.removeAttribute('hidden');
            singleLetterInput.removeAttribute('hidden');
            singleLetterInput.setAttribute('required', true);
        }
    });
</script>
{% endblock %}