{% extends "master.html" %}

{% block content %}
<h2 class="tool-name">Random prime generator</h2>

<p class="tool-des">
    Generate a random prime within the limit that user chooses
</p>

<form action="/random_prime_generator/" method="post">
    <div class="tool-body prime-generator-container">
        {% csrf_token %}
        <label class="normal-label">From:</label>
        <div class="number-input">
            <button class="btn decrement" id="prime-from-decrease-btn">−</button>
            <input type="number" id="prime-from" value="2" required>
            <button class="btn increment" id="prime-from-increase-btn">+</button>
        </div>

        <label class="normal-label">To:</label>
        <div class="number-input">
            <button class="btn decrement" id="prime-to-decrease-btn">−</button>
            <input type="number" id="prime-to" value="10000" required>
            <button class="btn increment" id="prime-to-increase-btn">+</button>
        </div>

        <label class="normal-label">Prime:</label>
        <input class="normal-input" type="number" id="prime-output" readonly>
    </div>
    <span>
        <input type="submit" value="Generate Prime" class="normal-btn">
        <input type="button" value="Download Prime" class="normal-btn">
    </span>
</form>
<script>
    const primeFromDecreaseBtn = document.getElementById('prime-from-decrease-btn');
    const primeFromIncreaseBtn = document.getElementById('prime-from-increase-btn');
    const primeToDecreaseBtn = document.getElementById('prime-to-decrease-btn');
    const primtToIncreaseBtn = document.getElementById('prime-to-increase-btn');
    const primeFromInput = document.getElementById('prime-from');
    const primeToInput = document.getElementById('prime-to');

    primeFromDecreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        let primeFrom = parseInt(primeFromInput.value, 10);
        let primeTo = parseInt(primeToInput.value, 10);
        if (!isNaN(primeFrom) && !isNaN(primeTo)) {
            primeFromInput.value = Math.max(2, primeFrom - 1);
        }
    });

    primeFromIncreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        let primeFrom = parseInt(primeFromInput.value, 10);
        let primeTo = parseInt(primeToInput.value, 10);
        if (!isNaN(primeFrom) && !isNaN(primeTo)) {
            primeFromInput.value = Math.min(primeFrom + 1, primeTo);
        }
    });

    primeToDecreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        let primeFrom = parseInt(primeFromInput.value, 10);
        let primeTo = parseInt(primeToInput.value, 10);
        if (!isNaN(primeFrom) && !isNaN(primeTo)) {
            primeToInput.value = Math.max(primeFrom, primeTo - 1);
        }
    });

    primtToIncreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        let primeFrom = parseInt(primeFromInput.value, 10);
        let primeTo = parseInt(primeToInput.value, 10);
        if (!isNaN(primeFrom) && !isNaN(primeTo)) {
            primeToInput.value = primeTo + 1;
        }
    });

    primeFromInput.addEventListener('change', (e) => {
        let primeFrom = parseInt(primeFromInput.value, 10);
        let primeTo = parseInt(primeToInput.value, 10);
        if (!isNaN(primeFrom) && !isNaN(primeTo)) {
            primeFrom = Math.max(primeFrom, 2);
            primeFromInput.value = primeFrom;
            primeTo = Math.max(primeFrom, primeTo);
            primeToInput.value = primeTo;
        }
    });

    primeToInput.addEventListener('change', (e) => {
        let primeFrom = parseInt(primeFromInput.value, 10);
        let primeTo = parseInt(primeToInput.value, 10);
        if (!isNaN(primeFrom) && !isNaN(primeTo)) {
            primeTo = Math.max(2, primeTo);
            primeToInput.value = primeTo;
            primeFrom = Math.min(primeTo, primeFrom);
            primeFromInput.value = primeFrom
        }
    });
</script>
{% endblock %}