{% extends 'master.html' %}

{% block content %}
<h2 class="tool-name">SVG Placeholder Generator</h2>

<p class="tool-des">
    Create SVG image to use as placeholder
</p>

<form action="/svg_placeholder_generator/" method="post">
    <div class="svg-container tool-body">
        {% csrf_token %}
        <label class="normal-label-down">Width (in px):</label>
        <div class="number-input">
            <button class="btn decrement" id="width-decrease-btn">−</button>
            <input type="number" id="svg-width" value="100">
            <button class="btn increment" id="width-increase-btn">+</button>
        </div>

        <label class="normal-label-down">Text color:</label>
        <div class="color-picker-wrapper">
            <input type="color" id="input-foreground" value="#000000">
            <input type="text" id="foreground-hex" class="hex-value">
        </div>

        <label class="normal-label-down">Height (in px):</label>
        <div class="number-input">
            <button class="btn decrement" id="height-decrease-btn">−</button>
            <input type="number" id="svg-height" value="100">
            <button class="btn increment" id="height-increase-btn">+</button>
        </div>
    
        <label class="normal-label-down">Background:</label>
        <div class="color-picker-wrapper">
            <input type="color" id="input-background" value="#ffffff">
            <input type="text" id="background-hex" class="hex-value" readonly>
        </div>

        <label class="normal-label-down">Font size:</label>
        <input class="normal-input" type="numbwe" placeholder="Font size...">

        <label class="normal-label-down">Custom text</label>
        <input class="normal-input" type="text" placeholder="Default">
    </div>

    <input type="submit" value="Generate SVG Placeholder" class="normal-btn">
    <input type="button" value="Download SVG" class="normal-btn">
    <input type="button" value="Copy SVG HTML" class="normal-btn">
    <input type="button" value="Copy SVG base64" class="normal-btn">

    <div class="svg-output-container tool-body">
        <label class="normal-label-down">SVG HTML element</label>
        <textarea class="normal-input" type="text" readonly></textarea>    
        <label class="normal-label-down">SVG in Base64</label>
        <textarea class="normal-input" type="text" readonly></textarea>
    </div>
</form>


<script>
    const foregroundColorInput = document.getElementById('input-foreground');
    const backgroundColorInput = document.getElementById('input-background');
    const foregroundHex = document.getElementById('foreground-hex');
    const backgroundHex = document.getElementById('background-hex');

    const widthDecreaseBtn = document.getElementById('width-decrease-btn');
    const widthIncreaseBtn = document.getElementById('width-increase-btn');
    const heightDecreaseBtn = document.getElementById('height-decrease-btn');
    const heightIncreaseBtn = document.getElementById('height-increase-btn');

    function updateForegroundColor(hex) {
        foregroundHex.value = hex;
    }

    foregroundColorInput.addEventListener('input', (e) => {
        updateForegroundColor(e.target.value);
    });

    updateForegroundColor(foregroundColorInput.value);

    function updateBackgroundColor(hex) {
        backgroundHex.value = hex;
    }

    backgroundColorInput.addEventListener('input', (e) => {
        updateBackgroundColor(e.target.value);
    });

    updateBackgroundColor(backgroundColorInput.value);

    widthDecreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        const widthInput = document.getElementById('svg-width');
        let currentValue = parseInt(widthInput.value, 10);
        if (!isNaN(currentValue)) {
            widthInput.value = Math.max(0, currentValue - 1);
        }
    });

    widthIncreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        const widthInput = document.getElementById('svg-width');
        let currentValue = parseInt(widthInput.value, 10);
        if (!isNaN(currentValue)) {
            widthInput.value = currentValue + 1;
        }
    });

    heightDecreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        const heightInput = document.getElementById('svg-height');
        let currentValue = parseInt(heightInput.value, 10);
        if (!isNaN(currentValue)) {
            heightInput.value = Math.max(0, currentValue - 1);
        }
    });

    heightIncreaseBtn.addEventListener('click', (e) => {
        e.preventDefault();
        const heightInput = document.getElementById('svg-height');
        let currentValue = parseInt(heightInput.value, 10);
        if (!isNaN(currentValue)) {
            heightInput.value = currentValue + 1;
        }
    });

</script>
{% endblock %}