{% extends "master.html" %}

{% block content %}
<div id="content">
    <div id="toolbar">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <input type="search" placeholder="Search for tools..." v-model="search_keyword"> 
        <div class="menu_wrapper">
            <i class="fa-solid fa-circle-user" onclick="toggleMenu()"></i>
            <div class="menu">
                <nav>
                    {% if user_id %}
                    <a href="/logout">Log out</a>
                    {% endif %}
                    {% if user_role == 'regular' %}
                    <a href="#">Make a subscription</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
    <h1>Enable/Disable tools</h1>
    <div id="adminFeatures">
        <button onclick="window.location.href = '/addtool'">Add</button>
        <button onclick="window.location.href = '/removetool'">Remove</button>
        <button disabled>Enable/Disable</button>
        <button onclick="window.location.href = '/togglepremium'">Toggle premium</button>
    </div>
    <div class="toolGallery">
        {% verbatim %}
        <div v-for="tool in filteredTools" :id="tool.id" :key="tool.id" @click="toggleEnable(tool.id)">
            <p class="toolStatusTag" :class="tool.is_enabled ? 'enable-color' : 'disable-color'">
                {{ tool.is_enabled ? 'Enabled' : 'Disabled' }}
            </p>
            <h2>{{ tool.name }}</h2>
            <p>{{ tool.description }}</p>
            <p>{{ tool.is_enabled }}</p>
        </div>
        {% endverbatim %}
    </div>
</div>
           
<script>
    function toggleMenu() {
        const menu = document.querySelector(".menu");
        menu.classList.toggle("show");
    }

    const app = Vue.createApp({
        data() {
            return {
                search_keyword: '',
                tools: []
            }
        },
        computed: {
            filteredTools() {
                const keyword = this.search_keyword.toLowerCase();  
                return this.tools.filter(tool => tool.name.toLowerCase().includes(keyword));
            }
        },
        methods: {
            toggleEnable(id) {
                fetch(`/apis/tools/${id}/toggleenable/`)
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Update the tool's status locally
                        const tool = this.tools.find(t => t.id === id);
                        if (tool) {
                            tool.is_enabled = !tool.is_enabled;
                        }
                    } else {
                        // Show alert message if the tool enable status cannot be updated
                        console.error(data.message);
                        alert ('Failed to toggle tool enable');
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                    alert ('Error when trying to toggle tool enable');
                })
            }
        },
        created() {
            fetch("/apis/tools")
            .then(response => response.json())
            .then(data => this.tools = data)
            .catch(error => console.error(error))
        }
    });

    app.mount("#content");
</script>
{% endblock %}