<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>IT tools</title>
    <script src="https://kit.fontawesome.com/e88fd7b48a.js" crossorigin="anonymous"></script>
</head>
<body>
    <aside>
        <h1 id="title">IT Tools</h1>
        <nav>
            <ul>
                <li><a href="#">Tools</a></li>
                <li><a href="#">Favorites</a></li>
                <li><a href="#">Manage tools</a></li>
            </ul>
        </nav>
    </aside>
    <main>
        <div id="toolbar">
            <i class="fa-solid fa-house"></i>
            <input type="search" placeholder="Search for tools...">
            <i class="fa-solid fa-circle-user"></i>
        </div>  
    </main>
</body>
</html>