{% extends "master.html" %}

{% block content %}
<div id="content">
    <div id="toolbar">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <input type="search" placeholder="Search for tools..." v-model="search_keyword"> 
        <i class="fa-solid fa-circle-user"></i>
    </div>
    <h1>All the tools</h1>
    <div class="toolGallery">
        <div v-for="tool in filteredTools" :id="tool.id" :key="tool.id">
            <h2>{{ tool.name }}</h2>
            <p>{{ tool.description }}</p>
        </div>
    </div>
</div>
<script>
    const app = Vue.createApp({
        data() {
            return {
                search_keyword: '',
                tools: JSON.parse('{{it_tools|safe|escapejs}}')
            }
        },
        computed: {
            filteredTools() {
                const keyword = this.search_keyword.toLowerCase()
                return this.tools.filter(tool => tool.name.toLowerCase().includes(keyword))
            }
        }
    });

    app.mount("#content");
</script>
{% endblock %}