{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{% static 'login_signup.css' %}">
    <!-- <link rel="stylesheet" href="login_signup.css"/> -->
</head>
<body>
    <div id="box">
        <h1>Log in</h1>
        {% if message %} 
            <p>{{message}}</p>
        {% endif %}
        <form action="/login/" method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br><br>   
            </div>
            <div>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
            </div>
            <div style="text-align: center;">
                <input type="submit" value="Log in">
            </div>
        </form>
        <p>Haven't created an account? <a href="{% url 'signup' %}">Sign up</a> here</p>
    </div>
</body>
</html>