{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="master.css"> -->
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <title>IT tools</title>
    <script src="https://kit.fontawesome.com/e88fd7b48a.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div class="box">
        <div id="get_premium_options">
            <p>Do you want to upgrade to premium?</p>
            <div style="display: flex; justify-content: space-evenly;">
                <button onclick="getPremium({{ user_id }})">Yes</button>
                <button onclick="closeBox()">No</button>
            </div>
        </div>
    </div>
    <div class="box_overlay" onclick="closeBox()"></div>
    <aside>
        <h1 id="title"><a href="/">IT Tools</a></h1>
        {% if not user_id %}
        <div id="user_authentication_box">
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>
        </div>
        {% endif %}
        <nav>
            <ul>
                {% if user_role == 'regular' or user_role == 'premium' or user_role == 'admin' %}
                <li><a href="/favorites">Favorites</a></li>
                {% endif %}
                {% if user_role == 'admin' %}
                <li><a href="/managetools">Manage tools</a></li>
                {% endif %}
                {% for tool_category in it_tool_categories %}
                <li><a href="/categories/{{tool_category.id}}">{{tool_category.name}}</a></li>    
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script>
        function closeBox() {
            const box = document.querySelector(".box");
            const box_overlay = document.querySelector(".box_overlay");
            // Get child nodes of the box
            const child_nodes = box.children;
            for(let child of child_nodes) {
                child.classList.remove("show");
            }
            box.classList.remove("show");
            box_overlay.classList.remove("show");
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== "") {
                const cookies = document.cookie.split(";");
                for (const cookie of cookies) {
                    const trimmed = cookie.trim();
                    if (trimmed.startsWith(name + "=")) {
                        cookieValue = decodeURIComponent(trimmed.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function getPremium(user_id) {
            const csrftoken = getCookie('csrftoken');

            fetch(`/api/user/${user_id}/go_premium/`, {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
            .then(response => response.json())
            .then(data => {
                if(data.success) {
                    alert("Your account is now premium");
                    // Refresh the page
                    window.location.reload();
                }
                else {
                    alert(data.error);
                }
            })
            .catch(error => {
                console.error(error);
            });
        }
    </script>
</body>
</html>