{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="master.css"> -->
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <link rel="stylesheet" href="{% static 'tool.css' %}">
    <title>IT tools</title>
    <script src="https://kit.fontawesome.com/e88fd7b48a.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="info" data-userid="{{user_id}}" data-username="{{username}}" data-userrole="{{user_role}}"></div>
    <div id="background">
        <div id="dialogBox">
            
        </div>
    </div>
    <aside>
        <h1 id="title"><a href="/">IT Tools</a></h1>
        {% if user_role == 'premium' %}
        <h2 id="subtitle">Premium</h2>
        {% endif %}
        {% if user_role == 'admin' %}
        <h2 id="subtitle">Admin</h2>
        {% endif %}
        {% if not user_id %}
        <div id="user_authentication_box">
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>
        </div>
        {% endif %}
        {% if user_id %}
        <div style="text-align: center; margin: 20px 0;">
            <p>Hello, <b>{{username}}</b>!</p>
        </div>
        {% endif %}
        <nav>
            <ul>
                {% if user_role == 'regular' or user_role == 'premium' or user_role == 'admin' %}
                <li><a href="/favorites">Favorites</a></li>
                {% endif %}
                {% if user_role == 'admin' %}
                <li><a href="/managetools">Manage tools</a></li>
                {% endif %}
                {% for tool_category in it_tool_categories %}
                <li><a href="/categories/{{tool_category.id}}">{{tool_category.name}}</a></li>    
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script>
        function getPremium() {
            const info = document.querySelector("#info");
            fetch("/apis/users/getpremium/" + info.dataset.userid)
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                location.reload();
            })
            .catch(err => {
                alert(err);
                location.reload();
            });
        }

        function unsubscribe() {
            const info = document.querySelector("#info");
            fetch("/apis/users/unsubscribe/" + info.dataset.userid)
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                location.reload()
            })
            .catch(err => {
                alert(err);
                location.reload()
            });
        }

        function showGetPremiumWindow() {
            const background = document.querySelector("#background");
            const dialogBox = document.querySelector("#dialogBox");
            background.classList.add("show");
            dialogBox.innerHTML = `
            <p>Are you sure you want to get premium?</p>
            <div style="display: flex; justify-content: center;">
                <button onclick="getPremium();">Yes</button>
                <button onclick="background.classList.remove('show');">No</button>
            </div>
            `;
        }

        function showUnscribeWindow() {
            const background = document.querySelector("#background");
            const dialogBox = document.querySelector("#dialogBox");
            background.classList.add("show");
            dialogBox.innerHTML = `
            <p>Are you sure you want to unsubscribe to premium?</p>
            <div style="display: flex; justify-content: center;">
                <button onclick="unsubscribe();">Yes</button>
                <button onclick="background.classList.remove('show');">No</button>
            </div>
            `;
        }
    </script>
</body>
</html>