{% extends "master.html" %}

{% block content %}
<div id="content">
    <div id="toolbar">
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <input type="search" placeholder="Search for tools..." v-model="search_keyword"> 
        <div class="menu_wrapper">
            <i class="fa-solid fa-circle-user" onclick="toggleMenu()"></i>
            <div class="menu">
                <nav>
                    {% if user_id %}
                    <a href="/logout">Log out</a>
                    {% endif %}
                    {% if user_role == 'regular' %}
                    <a href="#">Make a subscription</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
    <h1>Enable/Disable tools</h1>
    <div id="adminFeatures">
        <button onclick="window.location.href = '/addtool'">Add</button>
        <button disabled>Remove</button>
        <button onClick="window.location.href = '/enableanddisabletool'">Enable/Disable</button>
        <button onclick="window.location.href = '/togglepremium'">Toggle premium</button>
    </div>
    <div class="toolGallery">
        {% verbatim %}
        <div v-for="tool in filteredTools" :id="tool.id" :key="tool.id" @click="removeTool(tool.id, tool.name)">    
            <p class="toolStatusTag remove-color">Remove</p>
            <h2>{{ tool.name }}</h2>
            <p>{{ tool.description }}</p>
        </div>
        {% endverbatim %}
    </div>
</div>
           
<script>
    function toggleMenu() {
        const menu = document.querySelector(".menu");
        menu.classList.toggle("show");
    }

    const app = Vue.createApp({
        data() {
            return {
                search_keyword: '',
                tools: []
            }
        },
        computed: {
            filteredTools() {
                const keyword = this.search_keyword.toLowerCase();  
                return this.tools.filter(tool => tool.name.toLowerCase().includes(keyword));
            }
        },
        methods: {
            removeTool(id, name) {
                confirmMessage = `WARNING: Delete tool "${name}" will pernamently remove it and you will not see this tool on the page anymore \nAre you sure to delete this tool?`
                if (confirm(confirmMessage)) {
                    fetch(`/apis/tools/${id}/deletetool/`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            alert (`Tool ${name} is deleted successfully!`);
                            location.reload();
                        }
                        else {
                            console.error(data.message);
                            alert (`Failed to delete Tool ${name}`);
                        }
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert ('Error when trying to delete tool');
                    })
                }            
            }
        },
        created() {
            fetch("/apis/tools")
            .then(response => response.json())
            .then(data => this.tools = data)
            .catch(error => console.error(error))
        }
    });

    app.mount("#content");
</script>
{% endblock %}